{% extends "accounts/admin.html" %}

<!-- Django tags -->
{% load i18n %}
{% load static %}
{% load humanize %}

<!-- My tags -->
{% load persian_translation_tags %}

<!-- Third party tags -->
{% load jalali_tags %}
{% load crispy_forms_tags %}

{% block title %}

    {% trans "product created" %}

{% endblock %}

{% block body %}
    <div class="col-md-12 mb-0">
        <!-- general form elements -->
        <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">{% trans "product created"%}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row mb-5">
                    <div class="form-group col-md-6 ">
                    {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 ">
                        {{ form.slug|as_crispy_field }}
                    </div>
                    <div class="col-12 ">
                        {{ form.description|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 ">
                        {{ form.category|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 ">
                        {{ form.image|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 ">
                        {{ form.price|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 ">
                        {{ form.published|as_crispy_field }}
                    </div>            
                    {{ form.is_active|as_crispy_field }}
                </div>
                <button type="Submit" class="btn btn-success">{% trans "Submit" %}</button>
            </form>
        </div>
    </div>

{% endblock %}